@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

@media screen and (max-width: 758px) {
    * {
        font-size: small;
    }

    body {
        width: 100%;
        height: auto;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        opacity: 0;
        background-color: #000;
    }

    button {
        display: none;
    }

    #backButtonProblem {
        opacity: 0;
    }


}


* {
    user-select: none;
    font-family: 'MedievalSharp', cursive;
    font-weight: 900;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}


body {
    background-color: black;
    background-image: url(../img/gif.gif);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 5px solid rgba(137, 43, 226, 0.71);
    border-right: 5px solid rgba(137, 43, 226, 0.71);
    border-bottom: none;
    border-top: none;
    border-radius: 1em;
    color: black;
    height: 100vh;
    overflow: hidden;
    opacity: 0;
    
}
/*.cursor{
    width: 20px;
    height: 20px;
    border: 1px solid blueviolet;
    box-shadow: 0 0 10px white;
    border-radius: 50%;
    position: absolute;
    transition: 500ms ease-out;
}*/

#aboutYouContainer {
    display: none;
    position: absolute;
    top: 200px;
    left: 100px;
    height: 600px;
    width: 1800px;
    background-color: rgba(39, 39, 39, 0.858);
    margin: auto;
    border: 10px solid rgb(32, 11, 11);
    border-radius: 5em;
    box-shadow: 0 0 500px rgb(0, 0, 0);

}

#coral {
    color: rgb(255, 0, 234);
    cursor: help;
    transition: .5s;
}

#aboutYouContainer h3 {
    color: white;
    text-align: center;
    font-size: xxx-large;
    text-transform: uppercase;
    text-shadow: 0 0 300px #000;
}

#aboutYouContainer div {
    color: white;
    width: 80%;
    font-size: xx-large;
    padding: 1em;
    text-shadow: 0 0 30px #000;
    margin-left: 22px;
}

#aboutYouContainer img {
    position: absolute;
    right: 5px;
    top: 100px;
    transform: scale(2);
}

#aboutYouContainer .hraezlyr {
    width: 640px;
    height: 360px;
    position: absolute;
    top: 300px;
    right: -100px;
    transform: scale(.5);

}

#container {
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
}

#mainHeadLine {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 1em;
    color: white;
    display: block;
}


#aboutdraezlyr {
    height: 600px;
    width: 500px;
    display: block;
    margin: auto;
    border: 10px solid #333;
    border-radius: 1em;
    background-color: white;

}

#aboutdraezlyr h2 {
    text-align: center;
    font-size: x-large;
}

#aboutdraezlyr p {
    margin-left: 5px;
    font-weight: bold;
}

#draezlyrImage {
    height: 300px;
    width: 300px;
    margin: auto;
    display: block;
}

button {
    border: 3px solid #333;
    color: rgb(245, 245, 245);
    background-color: rgba(137, 43, 226, 0.737);
    padding: 1em;
    font-weight: 900;
    cursor: pointer;
    border-radius: 1em;

    text-transform: uppercase;
    box-shadow: 0 0 0px white;
    transition: 0.7s;
}

button:hover {
    background-color: white;
    color: #333;
    border-radius: 1em;
    box-shadow: 0 0 100px white;
    transition: 0.7s;
}

#equip {
    display: block;
    margin: 20px auto;
    transform: scale(1.1);
}

#merchant {
    position: absolute;
    left: 300px;
    top: 150px;
    transform: scale(1.5);
}

#shotRange {
    position: absolute;
    right: 300px;
    top: 150px;
    transform: scale(1.5);

}

#shotRangeContainer i {
    font-size: 20px;
    color: red;
    padding: 1em;
    position: absolute;
    top: 49px;
    right: 20px;

}

#aboutYou {
    position: absolute;
    right: 300px;
    bottom: 150px;
    transform: scale(1.5);
    background-color: black;


}

#aboutYou:hover {
    background-color: white;
    box-shadow: 0 0 100px white;
    color: black;
    transition: 0.7s;
}

#idk {
    position: absolute;
    transform: scale(1);
    bottom: 450px;
    left: 265px;
    background-color: wheat;
    color: #000;
    font-size: large;
}

#idk:hover {
    background-color: #000;
    color: white;

}

#textForIDK {
    display: none;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    bottom: 400px;
    right: -20px;
    width: 1000px;
    height: auto;
    color: white;
    padding: 5px;
    transform: scale(2);
    transition: .5s;
    text-align: center;

}

#paragraph {
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-shadow: 0 0 25px goldenrod;
    box-shadow: 0 0 50px whitesmoke;
    transition: .5s;
    background-color: rgba(0, 0, 0, 0.567);
    border-radius: 1em;
    text-align: center;
}

#portals {
    position: absolute;
    color: rgba(255, 255, 255, 0.844);
    left: 300px;
    bottom: 150px;
    transform: scale(1.5);
    animation: portalsBackground 5s alternate-reverse linear infinite;
    transition: 0.5s;
    text-shadow: 1px 1px 1px black;

}

#portals:hover {
    color: rgba(255, 255, 255, 0.844);
    transform: scale(1.7);
}

@keyframes portalsBackground {
    10% {
        background-color: #F5F65D;
    }

    20% {
        background-color: #0ED6BD;
    }

    30% {
        background-color: #CEF0F9;
    }

    40% {
        background-color: #0DA5CE;
    }

    50% {
        background-color: #065C72;
    }

    60% {
        background-color: #860111;
    }

    70% {
        background-color: #FF4605;
    }

    80% {
        background-color: #FFD729;
    }

    90% {
        background-color: #FA7900;
    }

    100% {
        background-color: #E71E02
    }
}

#draezlyrImage {
    animation: powerOfDraezlyr 1s infinite alternate linear;

    border-radius: 2em;
}

@keyframes powerOfDraezlyr {
    0% {
        box-shadow: 0px 0px 10px blueviolet
    }

    ;

    50% {
        box-shadow: 0px 0px 100px purple
    }

    ;

    100% {
        box-shadow: 0px 0px 1000px blueviolet
    }

    ;
}

@keyframes powerOfHellDraezlyr {
    0% {
        box-shadow: 0px 0px 10px #F11514
    }

    ;

    50% {
        box-shadow: 0px 0px 100px red
    }

    ;

    100% {
        box-shadow: 0px 0px 1000px #F11514
    }

    ;
}

@keyframes powerOfHeavenDraezlyr {
    0% {
        box-shadow: 0px 0px 10px #bdb643
    }

    ;

    50% {
        box-shadow: 0px 0px 100px skyblue
    }

    ;

    100% {
        box-shadow: 0px 0px 1000px #bdb643
    }

    ;
}

#heroIdle,
#heroRun,
#heroAttack {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 400px;
    left: 250px;
    border-radius: 200em;
    padding: 0;
    margin: 0;
    display: none;
    transition: .5s;
    animation: none;
}

@keyframes rune {
    0% {
        box-shadow: 0px 0px 1000px 10px rgb(140, 0, 128) inset;
    }

    ;

    50% {
        box-shadow: 0px 0px 1000px 50px rgb(70, 1, 65) inset;
    }

    ;

    100% {
        box-shadow: 0px 0px 1000px 100px rgb(255, 5, 234) inset;
    }

    ;
}

@keyframes hellRune {
    0% {
        box-shadow: 0px 0px 1000px 10px #F11514 inset;
    }

    ;

    50% {
        box-shadow: 0px 0px 1000px 50px red inset;
    }

    ;

    100% {
        box-shadow: 0px 0px 1000px 100px #F11514 inset;
    }

    ;
}

@keyframes heavenRune {
    0% {
        box-shadow: 0px 0px 1000px 10px #bdb643 inset;
    }

    ;

    50% {
        box-shadow: 0px 0px 1000px 50px skyblue inset;
    }

    ;

    100% {
        box-shadow: 0px 0px 1000px 100px #bdb643 inset;
    }

    ;
}

#enemy1 {
    width: auto;
    height: auto;
    position: absolute;
    top: 520px;
    right: 550px;
    display: none;
    transition: .5s;
    transform: scaleX(-1);
    cursor: crosshair;

}

#surtur {
    width: 500px;
    height: 358px;
    position: absolute;
    top: 350px;
    right: 250px;
    display: none;
    transition: .5s;
    transform: scaleX(1);
    cursor: crosshair;

}

#kingOfHeaven {
    width: 271px;
    height: 186px;
    position: absolute;
    bottom: 400px;
    left: 870px;
    display: none;
    transition: .5s;
    transform: scale(1.7);
    cursor: crosshair;

}

#yourHP {
    position: absolute;
    left: 100px;
    bottom: 20px;
    color: blueviolet;
    background-color: white;
    border: 3px solid #333;
    padding: 1em;
    font-weight: 900;
    text-transform: uppercase;
    display: none;
    box-shadow: 0 0 70px blueviolet;
}

#xp {
    position: absolute;
    left: 20px;
    top: 20px;
    color: blueviolet;
    background-color: white;
    border: 3px solid #333;
    padding: 1em;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
}

#enemy1HP {
    position: absolute;
    right: 100px;
    bottom: 20px;
    color: red;
    background-color: white;
    box-shadow: 0 0 70px red;
    border: 3px solid #333;
    padding: 1em;
    font-weight: 900;
    text-transform: uppercase;
    display: none;
}

#attack {
    position: absolute;
    left: 650px;
    top: 600px;
    height: 150px;
    width: 150px;
    padding: 1em;
    cursor: pointer;
    display: none;
    background-color: white;
    border: 5px solid blueviolet;
    border-radius: 3em;
}

i {
    font-size: 80px;
}

#info {
    text-align: center;
    color: white;
    display: none;
    position: absolute;
    bottom: 120px;
    left: 300px;
}

#gameover {
    display: none;
    position: absolute;
    top: 200px;
    left: 500px;
    text-align: center;
    font-size: 200px;
    color: white;
    text-shadow: 2px 2px 10px black;

}

#backButton {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;

}

#backButtonProblem {
    position: absolute;
    top: 400px;
    right: 150px;
    color: #333;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    border: 5px solid blueviolet;
    display: block;
    height: 110px;
    width: 320px;
    font-weight: 900;
    transform: scale(1.1);
}

#backButtonProblem a {
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
    transition: 0.5s;
}

#backButtonProblem a:hover {
    text-decoration: underline;
    color: black;
}

#merchantOffers {
    height: 150px;
    width: 850px;
    display: none;
    margin: auto;
    border: 10px solid #333;
    border-radius: 1em;
    background-color: white;
    position: absolute;
    top: 680px;
    left: 600px;
    padding: 1em;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

#merchantOffers button {
    width: 260px;
    height: 80px;
    margin: auto;
    font-size: large;
    padding: 0.5em;
    display: block;
    margin-top: 0px;
    text-align: center;
}

#merchantOffers div {
    position: absolute;
    bottom: 10px;
}

.upgrade1 {
    position: absolute;
    left: 100px;

}

.upgrade2 {
    left: 360px;

}

.upgrade3 {
    right: 70px;

}

#practiseRound {
    display: block;
    margin: auto;
    background-color: white;
    color: #333;
    padding: 1em;
    border: 3px solid #333;
    text-transform: uppercase;
    text-align: center;
    transform: scale(0.9);

}

#round {
    display: none;
    margin: auto;
    width: 115px;
    text-align: center;
    box-shadow: 0 0 70px blueviolet;
    color: white;
    padding: 1em;
    border: 3px solid #333;
    text-transform: uppercase;
    transform: scale(1.4);
}

#shotRangeContainer {
    display: none;
    margin: auto;
    position: absolute;
    top: 0;
    left: 700px;

}

#shotRangeContainer h2 {
    color: gold;
    text-shadow: 0px 1px 10px white;
    padding: 1em;
    margin: auto;
    font-size: xx-large;
}

.grid {
    width: 620px;
    height: 620px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.42);
    margin: auto;
    background-image: url(../img/prison.bars.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 760px;

}

.square {
    height: 200px;
    width: 200px;
    border: 3px solid whitesmoke;
    cursor: url(../img/cursor.draezlyr.png), auto;
    transition: 0.5s;

}

.square:hover {

    border: 3px solid gold;
}

.target {
    background-image: url(../img/enemy1.png);
    background-size: cover;
    transition: .5s;

}

.target:hover {
    background-color: gold;
    transform: rotate(5deg);
    opacity: 0.5;

}

#portalsWarning {
    display: none;
    margin: auto;
    position: absolute;
    left: 680px;
    top: 350px;
    width: 700px;
    height: 240px;
    background-color: white;
    border: 3px solid #333;
    border-radius: 1em;
    padding: 2em;
    transform: scale(2.2);
}

#portalsWarning h2 {
    text-align: center;
}

#portalsWarning button {
    text-align: center;
    margin: auto;
    display: block;
    animation: portalsBackground 5s alternate-reverse linear infinite;
    transition: .5s;
}

#portalsWarning button:hover {
    animation: none;
    background-color: black;
    color: white;
    transition: .5s;
}

#portalsWarning div {
    text-align: justify;

}

#twoPortals {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    margin: auto;
    height: auto;
    width: 100%;

}

#twoPortals img {
    height: 600px;
    width: 400px;

}

#thehell {
    position: relative;
    top: 115px;
    left: 290px;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(0.4);
}

#theheaven {
    position: absolute;
    top: 115px;
    right: 315px;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(0.4);

}

#twoPortals #hell {
    position: absolute;
    bottom: -20px;
    left: 455px;
    color: white;
}

#twoPortals #heaven {
    position: absolute;
    bottom: -20px;
    right: 465px;
    color: white;
}

#musicButton {
    position: absolute;
    top: 25px;
    left: 280px;
    background-color: #333;
    color: white;
    border: 3px solid black;
}


#music {
    display: none;
    margin: auto;
}

#logo {
    color: blueviolet;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em blueviolet, 0 0 0.2em blueviolet;
}

#time {
    position: absolute;
    right: 10px;
    bottom: 0px;
  background-color: transparent;
  border: none;
  display: block;
}
#time:hover{
    cursor: default;
    box-shadow: 0 0 0px white;
    color: white;
}

#creator{
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: left;
    position: absolute;
    left: 20px;
    bottom: 0px;
    gap: 0px;

}
#creator .fa-brands {
   height: 60px;
   width: 60px;
    height: auto;
    transform: scale(0.3);
    padding: 0;
    color: rgba(255, 255, 255, 0.533);
    transition: .5s;
}
#creator .fa-brands:hover {
    transform: scale(0.4);
    color: rgb(255, 255, 255);
}
#creator a{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
#creatorHeadline{
    cursor: pointer;
    color: white;
    position: absolute;
    bottom: 2px;
    left: 20px;
    transition: .5s;
}
#creatorHeadline:hover{
   color: rgb(178, 131, 223);
   transition: .5s;
}
#creatorContent{
    display: none;
}

