@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
    user-select: none;
    font-family: 'MedievalSharp', cursive;
    font-weight: 900;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
   
}


 body {
    background-color: black;
    border-left: 5px solid rgba(137, 43, 226, 0.71);
    border-right: 5px solid rgba(137, 43, 226, 0.71);
    border-bottom: none;
    border-top: none;
    border-radius: 1em;
    color: black;
    height: auto;
    overflow: auto;
}

#container {
    width: 100%;
    height: 730px;
    display: flex;
    flex-direction: column;
}

#mainHeadLine {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 1em;
    color: white;
    display: block;
}


#aboutdraezlyr {
    height: 600px;
    width: 480px;
    display: block;
    margin: auto;
    border: 10px solid #333;
    border-radius: 1em;
    background-color: white;
}

#aboutdraezlyr h2 {
    text-align: center;
    font-size: x-large;
}

#aboutdraezlyr p {
    margin-left: 5px;
    font-weight: bold;
}

#draezlyrImage {
    height: 300px;
    width: 300px;
    margin: auto;
    display: block;
}

button {
    border: 3px solid #333;
    color: rgb(245, 245, 245);
    background-color: rgba(137, 43, 226, 0.737);
    padding: 1em;
    font-weight: 900;
    cursor: pointer;
    border-radius: 1em;
    transition: .5s;
    text-transform: uppercase;
}

button:hover {
    background-color: white;
    color: #333;
    border-radius: 1em;
}

#equip {
    display: block;
    margin: 20px auto;
    transform: scale(1.1);
}

#merchant {
    position: absolute;
    left: 300px;
    top: 150px;
    transform: scale(1.5);
}

#shotRange {
    position: absolute;
    right: 300px;
    top: 150px;
    transform: scale(1.5);

}

#portals {
    position: absolute;
    color: rgba(255, 255, 255, 0.844);
    left: 300px;
    bottom: 150px;
    transform: scale(1.5);
    animation: portalsBackground 5s alternate-reverse linear infinite;
    transition: 0.5s;
    text-shadow: 1px 1px 1px black;
}
#portals:hover{
    color: rgba(255, 255, 255, 0.844);
    transform: scale(1.7);
}

@keyframes portalsBackground{
    10%{background-color: #F5F65D;}
    20%{background-color: #0ED6BD;}
    30%{background-color: #CEF0F9;}
    40%{background-color: #0DA5CE;}
    50%{background-color: #065C72;}
    60%{background-color: #860111;}
    70%{background-color: #FF4605;}
    80%{background-color: #FFD729;}
    90%{background-color: #FA7900;}
    100%{background-color: #E71E02}
}

#draezlyrImage {
    animation: powerOfDraezlyr 1s infinite alternate linear;
    border-radius: 2em;
}

@keyframes powerOfDraezlyr {
    0% {
        box-shadow: 0px 0px 10px blueviolet
    }

    ;

    50% {
        box-shadow: 0px 0px 100px purple
    }

    ;

    100% {
        box-shadow: 0px 0px 1000px blueviolet
    }

    ;
}

#heroIdle,
#heroRun,
#heroAttack {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 250px;
    left: 550px;
    border-radius: 200em;
    padding: 0;
    margin: 0;
    display: none;
    transition: .5s;
    animation: none;
}
@keyframes rune {
    0%{box-shadow: 0px 0px 1000px 10px rgb(140, 0, 128) inset;};
    50%{box-shadow: 0px 0px 1000px 50px rgb(70, 1, 65) inset;};
    100%{box-shadow: 0px 0px 1000px 100px rgb(255, 5, 234) inset;};
}

#enemy1 {
    width: 144px;
    height: 217px;
    position: absolute;
    top: 370px;
    right: 550px;
    display: none;
    transition: .5s;
    transform: scaleX(-1);
    cursor: crosshair;

}

#yourHP {
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: blueviolet;
    background-color: white;
    border: 3px solid #333;
    padding: 1em;
    font-weight: 900;
    text-transform: uppercase;
    display: none;
}

#xp {
    position: absolute;
    left: 20px;
    top: 20px;
    color: blueviolet;
    background-color: white;
    border: 3px solid #333;
    padding: 1em;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
}

#enemy1HP {
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: blueviolet;
    background-color: white;
    border: 3px solid #333;
    padding: 1em;
    font-weight: 900;
    text-transform: uppercase;
    display: none;
}

#attack {
    position: absolute;
    left: 650px;
    top: 600px;
    height: 150px;
    width: 150px;
    padding: 1em;
    cursor: pointer;
    display: none;
    background-color: white;
    border: 5px solid blueviolet;
    border-radius: 3em;
}

i {
    font-size: 80px;
}

#info {
    text-align: center;
    color: white;
    display: none;
    position: absolute;
    bottom: 50px;
    left: 120px;
}

#gameover {
    display: none;
    position: absolute;
    left: 300px;
    top: 100px;
    text-align: center;
    font-size: 200px;
    color: white;
    background-color: rgba(0, 0, 0, 0.638);

}

#backButton {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;

}

#backButtonProblem {
    position: absolute;
    top: 400px;
    right: 150px;
    color: #333;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    border: 5px solid blueviolet;
    display: block;
    height: 110px;
    width: 320px;
    font-weight: 900;
    transform: scale(1.1);
}
#backButtonProblem a{
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
    transition: 0.5s; 
}
#backButtonProblem a:hover{
    text-decoration: underline;
    color: black;
}

#merchantOffers {
    height: 150px;
    width: 820px;
    display: none;
    margin: auto;
    border: 10px solid #333;
    border-radius: 1em;
    background-color: white;
    position: absolute;
    top: 500px;
    left: 400px;

    gap: 10px;
    justify-content: center;
    align-items: center;

}

#merchantOffers button {
    width: 260px;
    height: 80px;
    margin: auto;
    font-size: large;
    padding: 0.5em;
    display: block;
    margin-top: 0px;
    text-align: center;
}

#merchantOffers div {
    position: absolute;
    bottom: 30px;
}

.upgrade1 {
    position: absolute;
    left: 100px;

}

.upgrade2 {
    left: 360px;

}

.upgrade3 {
    right: 70px;

}

#practiseRound {
    display: block;
    margin: auto;
    background-color: white;
    color: #333;
    padding: 1em;
    border: 3px solid #333;
    text-transform: uppercase;
    text-align: center;
    transform: scale(0.9);
    
}

#round {
    display: none;
    position: absolute;
    bottom: 40px;
    left: 750px;
    background-color: white;
    color: blueviolet;
    padding: 1em;
    border: 3px solid #333;
    text-transform: uppercase;
    transform: scale(1.2);
}

#shotRangeContainer {
    display: none;
    margin: auto;
   position: absolute;
   top: 0;
   left: 500px;
    
}

#shotRangeContainer h2 {
    color: gold;
    text-shadow: 0px 1px 10px white;
    padding: 1em;
    margin: auto;
   font-size: xx-large;
}

.grid {
    width: 620px;
    height: 620px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.42);
    margin: auto;
    background-image: url(../img/prison.bars.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 760px;

}

.square {
    height: 200px;
    width: 200px;
    border: 3px solid blueviolet;
   cursor: url(../img/cursor.draezlyr.png), auto;
    transition: 0.5s;
    
}
.square:hover{
    
    border: 3px solid gold;
}

.target {
    background-image: url(../img/enemy1.png);
    background-size: cover;
    transition: .5s;
   
}

.target:hover {
    background-color: gold;
    transform: rotate(5deg);
    opacity: 0.5;
    
}
#portalsWarning{
    display: none;
    margin: auto;
    position: absolute;
    left: 450px;
    top: 300px;
    width: 700px;
    height: 200px;
    background-color: white;
    border: 3px solid #333;
    border-radius: 1em;
    padding: 2em;
    transform: scale(2.2);
}
#portalsWarning h2{
    text-align: center;
}
#portalsWarning button{
    text-align: center;
    margin: auto;
    display: block;
    animation: portalsBackground 5s alternate-reverse linear infinite;
    transition: .5s;
}
#portalsWarning button:hover{
    animation: none;
    background-color: black;
    color: white;
    transition: .5s;
}
#portalsWarning div{
    text-align: justify;
   
}
#twoPortals{
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    margin: auto;
    height: auto;
    width: 100%;
    
}
#twoPortals img{
    height: 600px;
    width: 400px;
    transform: scale(0.3);
}
#thehell{
    position: relative;
    bottom: -10px;
    left: 200px;
    cursor: pointer;
    transition: 0.5s;
}
#theheaven{
    position: absolute;
    bottom: -10px;
    right: 215px;
    cursor: pointer;
    transition: 0.5s;
}
#twoPortals #hell{
    position: absolute;
    bottom: 100px;
    left: 365px;
    color: white;
}
#twoPortals #heaven{
    position: absolute;
    bottom: 100px;
    right: 365px;
    color: white;
}